<h1>Listing Setlists</h1>

<table class='table table-condensed'>
  <tr>
    <th>Duration</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @setlists.each do |setlist| %>
  <tr>
    <td><%= setlist.duration %></td>
    <td><%= setlist.name %></td>
    <td><%= link_to 'Show', setlist %></td>
    <td><%= link_to 'Edit', edit_setlist_path(setlist) %></td>
    <td><%= link_to 'Destroy', setlist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Setlist', new_setlist_path %>
