<h1><%= @setlist.name %></h1>

<% if @setlist.songs.present? %>
	<table class="table table-striped">
		<% @setlist.songs.each do |song| %>
    <tr>
			<td><%= song.title %></td>
      <td><%= music_duration song.duration %></td>
      <td><%= button_to "Remove Song", { action: 'update', remove_song: song.id }, method: 'put', class: 'btn btn-danger btn-small'%></td>
		</tr>
    <% end %>
	</table>
<% else %>
	<p>This setlist has no songs.</p>
<% end %>

<p>
  <strong>Add songs to this setlist:</strong>
<br />
<% if @setlist.available_songs.present? %>
  <%= form_for(@setlist) do |f| %>
    <%= select_tag 'add_song', options_from_collection_for_select(@setlist.available_songs, :id, :title), { prompt: 'Select a Song' } %>
    <%= f.submit %>
  <% end %>
<% else %>
  <p>
    No other songs are available.
  </p>
<% end %>

<%= link_to 'Back to all setlists', setlists_path %>