<h1>All Songs</h1>

<table class='table table-condensed'>
  <tr>
    <th>Title</th>
    <th>Duration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <td><%= music_duration song.duration %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Delete', song, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

</table>

<%= link_to 'Add a Song', new_song_path %>
